.section {
    padding: 60px 60px;
    text-align: center;
    margin-bottom:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:70px;
}

img {
    max-width: 100%;
    max-height: 80%;
}

.blog-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 20px 0;
}

article {
    border: 0px solid #eee;
    border-radius: 12px;
    background: #fff;
}

article h3 {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: left;
    margin-left: 5%;
}

article a {
    color: #000000;
    font-weight: normal;
    text-decoration: none;
}

.see-all {
    display: block;
    margin-top: 60px;
    font-weight: bold;
    border-color: #000000;
    border: 2px solid;
    padding: 10px;
    width: 60%;
    max-width: fit-content;margin-left: auto;margin-right: auto;
}