.fair-value {
  text-align: center;
  margin-top: 100px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr; /* stack on small screens */
  }
  .fair-value {
    text-align: center;
    margin-top: 0px;
  }
}


.card {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.card-image img {
  width: 95%;
  height: auto;
  max-height: 250px;
  border-radius: 20px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.card-content h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 8px;
}

.card-content small {
  display: block;
  font-size: 14px;
  color: #000000;
  margin-bottom: 8px;
}

.card-content p {
  font-size: 15px;
  color: #000000;
  line-height: 1.5;
}
