<footer class="footer">
    <div class="footer-container">
        <!-- Logo -->
        <div class="footer-logo">
            <img src="logo.png" alt="Site Logo" />
            <p class="tagline">hello&#64;valestor.com</p>
        </div>
        <!-- Site Links -->
        <!--div class="footer-links">
        <h4>{{quickLinksLabel}}</h4>
            <ul>
                <li><a routerLink="/">{{navLinkHomeLabel}}</a></li>
                <li><a routerLink="/valuation">{{navLinkValuateStockLabel}}</a></li>
                <li><a routerLink="/screener">{{navLinkScreenerLabel}}</a></li>
                <li><a routerLink="/blog">{{navLinkBlogLabel}}</a></li>
                <li><a routerLink="/about">{{navLinkAboutLabel}}</a></li>
            </ul>
        </div-->
    </div>
    <p>
        {{disclaimer}}
    </p>

     <!-- Bottom Bar -->
    <div class="footer-bottom">
        <p>© {{ currentYear }} Valestor</p>
    </div>
</footer>