<footer class="footer">
    <div class="footer-container">
        <!-- Logo -->
        <div class="footer-logo">
            <img src="logo.png" alt="Site Logo" />
            <p class="tagline">john.doe&#64;valuateit.com</p>
        </div>
        <!-- Site Links -->
        <div class="footer-links">
        <h4>{{quickLinksLabel}}</h4>
        <ul>
            <li><a routerLink="/">{{navLinkHomeLabel}}</a></li>
            <li><a routerLink="/valuation">{{navLinkValuateStockLabel}}</a></li>
            <li><a routerLink="/blog">{{navLinkBlogLabel}}</a></li>
            <li><a routerLink="/about">{{navLinkAboutLabel}}</a></li>
        </ul>
        </div>
        <div class="footer-disclaimer">
            <p>
                {{disclaimer}}
            </p>
        </div>
        <div class="footer-disclaimer">
            <select class="custom-select" #mySelect (change)="onSelectionChange(mySelect.value)">
                <option disabled selected>{{selectedLanguage}}</option>
                <option value="en">English</option>
                <option value="ru">Русский</option>
            </select>
        </div>
    </div>

     <!-- Bottom Bar -->
    <div class="footer-bottom">
        <p>© {{ currentYear }} Valuate It.</p>
    </div>
</footer>