<header class="header">
  <nav class="nav">
    <!-- Logo -->
    <a routerLink="/" class="logo">
      <img src="logo.png" alt="Logo" />
    </a>

    <!-- Hamburger Toggle -->
    <button class="menu-toggle" (click)="toggleMenu()">
      ☰
    </button>

    <!-- Navigation Links -->
    <ul [class.open]="menuOpen">
      <li><a routerLink="/valuation" routerLinkActive="active">{{navLinkValuateStockLabel}}</a></li>
      <li><a routerLink="/screener" routerLinkActive="active">{{navLinkScreenerLabel}}</a></li>
      <li><a routerLink="/blog" routerLinkActive="active">{{navLinkBlogLabel}}</a></li>
      <li><a routerLink="/about" routerLinkActive="active">{{navLinkAboutLabel}}</a></li>
    </ul>
  </nav>
</header>