<div class="container">
    <h2>{{ tableTitle }}</h2>
    
    <table class="table table-striped table-bordered sortable-theme-minimal table-heatmap">
        <thead>
            <tr>
                <th>{{countryLabel}}</th>
                <th>{{gdpLabel}}</th>
                <th>{{interestRateLabel}}</th>
                <th>{{inflationLabel}}</th>
                <th>{{unemploymentLabel}}</th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let country of countries">
                <td>
                    {{ countryMap.get(country.code) }}
                </td>
                
                <td>
                   <a href="{{country.gdp_growth_url}}">{{ country.gdp_growth }}</a>
                </td>
                
                <td>
                    <a href="{{country.interest_rate_url}}">{{ country.interest_rate }}</a>
                </td>
                
                <td>
                   <a href="{{country.inflation_rate_url}}"> {{ country.inflation_rate }}</a>
                </td>
                
                <td>
                   <a href="{{country.unemployment_rate_url}}">{{ country.unemployment_rate }}</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>