<div class="comparison-container" *ngIf="exchangeInfo && !loading; else loadingSkeleton">
  <h2>{{ header }}</h2>

  <div class="currency-row header">
    <div class="label"></div>
    <div class="currency">{{ exchangeInfo.first_currency_short_code.toUpperCase() }}</div>
    <div class="currency">{{ exchangeInfo.second_currency_short_code.toUpperCase() }}</div>
  </div>

  <div class="currency-row">
    <div class="label">{{ fields[0].label }}</div>
    <div class="currency">{{ exchangeInfo.first_currency_interest_rate }}</div>
    <div class="currency">{{ exchangeInfo.second_currency_interest_rate }}</div>
  </div>

  <div class="currency-row">
    <div class="label">{{ fields[1].label }}</div>
    <div class="currency">{{ exchangeInfo.first_currency_inflation_rate }}</div>
    <div class="currency">{{ exchangeInfo.second_currency_inflation_rate }}</div>
  </div>

  <div class="currency-row">
    <div class="label">{{ fields[2].label }}</div>
    <div class="currency">{{ exchangeInfo.first_currency_unemployment_rate }}</div>
    <div class="currency">{{ exchangeInfo.second_currency_unemployment_rate }}</div>
  </div>

  <div class="currency-row">
    <div class="label">{{ fields[3].label }}</div>
    <div class="currency">{{ exchangeInfo.first_currency_gdp_growth_rate }}</div>
    <div class="currency">{{ exchangeInfo.second_currency_gdp_growth_rate }}</div>
  </div>

  <div class="extras">
    <div><strong>{{ exchangeRateLabel }}</strong> {{ exchangeInfo.rate }}</div>
    <!--div><strong>Forecast (Regression):</strong> {{ exchangeInfo.forecast_regression }}</div-->
    <div><strong>{{ forecastPppLabel }}</strong> {{ exchangeInfo.forecast_ppp }}</div>
    <div *ngIf="exchangeInfo.recommendation == 'sell'"><strong> {{ forecastRegressionLabel }} </strong> <label style="color: red;">Sell</label> 📉</div>
    <div *ngIf="exchangeInfo.recommendation == 'buy'"><strong> {{ forecastRegressionLabel }} </strong> <label style="color: green;">Buy 📈</label> </div>
  </div>
  <p>{{ noteLabel }}</p>
</div>

<ng-template #loadingSkeleton>
  <div class="comparison-container">
    <h2>{{ loadingLabel }}</h2>

    <div class="currency-row header">
      <div class="label"></div>
    </div>

    <div class="currency-row" *ngFor="let i of [1,2,3,4]">
      <div class="label skeleton-box long"></div>
      <div class="currency skeleton-box"></div>
      <div class="currency skeleton-box"></div>
    </div>

    <div class="extras">
      <div class="skeleton-box medium"></div>
      <div class="skeleton-box medium"></div>
      <div class="skeleton-box medium"></div>
    </div>
  </div>
</ng-template>