<section class="examples-section">
  <h2>{{ title }}</h2>
  <p class="subtitle">{{ subtitle }}</p>

  <div class="examples-grid">
    <div *ngFor="let ex of examples" class="example-card">

      <div class="company-info">
        <div>
          <h3>{{ ex.company }}</h3>
          <small>{{ ex.ticker }}</small>
        </div>
      </div>
      <a class="stockcardlink" href="{{ex.link}}">
        <app-stock-card [value]="ex.upside" label="{{ex.status}}" color="green"></app-stock-card>
      </a>
      <h3 class="undervalued">{{ex.status}}</h3>

    </div>
  </div>
</section>