.examples-section {
  padding: 60px 20px;
}

.examples-section h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.examples-section .subtitle {
  color: #444;
  margin-bottom: 40px;
  font-size: 16px;
}

.examples-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin: 0 auto;
}

.example-card {
  background: linear-gradient(145deg, #0d1f2d, #123);
  border-radius: 16px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.company-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.company-info h3 {
  margin: 0;
  font-size: 18px;
}

.company-info small {
  font-size: 14px;
  color: #bbb;
}

.logo {
  font-size: 28px;
}

.upside .badge {
  background: linear-gradient(180deg, #00ff66, #00cc44);
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 12px;
  margin-bottom: 8px;
}

.status {
  color: #00ff66;
  font-weight: 600;
}

.undervalued {
  color: #059669; /* green */
  font-weight: normal;
}

.overvalued {
  color: #dc2626; /* red */
  font-weight: normal;
}

.stockcardlink{
  color: #ffffff;
  transition: color 0.2s ease;
  text-align: center;
}

.stockcardlink:hover{
  color: #c9c9c9;
}

@media (max-width: 480px) {
  .company-info h3 {
    margin: 0;
    font-size: 12px;
  }

  .company-info small {
    font-size: 12px;
    color: #bbb;
  }
  .undervalued {
    color: #059669; /* green */
    font-weight: normal;
    font-size: 12px;
  }

  .overvalued {
    color: #dc2626; /* red */
    font-weight: normal;
    font-size: 12px;
  }

}