<div class="container">
    <h2 >{{ eventToShow }} - {{ countryToShow }}</h2>
    <button (click)="exportTableToCSV()">{{ exportButtonLabel }}</button>
</div>
<table id="myTable">
    <thead>
        <tr>
            <th>{{ dateLabel }}</th>
            <th>{{ actualLabel }}</th>
            <th>{{ forecastedLabel }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let event of macroEvents">
            <td>{{ event.date }}</td>
            <td>{{ event.actual_formatted }}</td>
            <td>{{ event.forecast_formatted }}</td>
        </tr>
    </tbody>
</table>
