.steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin: 0 auto;
}

.step {
  text-align: left;
  background-color: #efefef;
  border-radius: 16px;
  padding: 5%;
  min-height: 300px;
}

.step-number {
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
}

.step h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.step p {
  font-size: 15px;
  color: #000000;
  line-height: 1.5;
}
