.valuate-container {
  max-width: 1200px;
  margin: 0 auto 0 auto;
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: #111827;
}

h1 {
  font-size: 3rem;
  color: #000000;
}

.exchange {
  color: #6b7280;
}

.card {
  background: #ffffff;
  border-radius: 0.75rem;
  margin-bottom: 1.5rem;
}

.top-card {
  background: #ffffff;
  border-radius: 0.75rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.card h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #000000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
}

ul li {
  margin-bottom: 0.4rem;
}

.explanation {
  font-size: 0.95rem;
  color: #374151;
}

.undervalued {
  color: #059669; /* green */
  font-weight: normal;
}

.overvalued {
  color: #dc2626; /* red */
  font-weight: normal;
}


.skeleton-box {
  display: block;
  height: 1.2rem;
  background: linear-gradient(90deg, #e5e7eb 25%, #f3f4f6 50%, #e5e7eb 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 4px;
  margin: 0.4rem 0;
  line-height: 1.2rem; /* match text height */
}

.skeleton-box.short {
  width: 30%; /* shorter label */
}

.skeleton-box.medium {
  width: 50%;
}

.skeleton-box.long {
  width: 80%;
  height: 1.5rem;
}

/* shimmer animation */
@keyframes shimmer {
  100% {
    background-position: -200% 0;
  }
}

/* make skeletons fill container spacing like real text */
.card .skeleton-box {
  margin: 0.6rem 0;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  background: #ffffff;
  margin: 1rem 0;
}

.financial-table {
  width: 100%;
  min-width: 480px;
  border-collapse: collapse;
  font-size: 14px;
  color: #000000;
  background: #ffffff;
  overflow: hidden;
  border-left: none;
  border-right: none;
}

.financial-table th,
.financial-table td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid #2b2f3a;
  white-space: nowrap;
}

.financial-table thead {
  background: #ffffff;
  font-weight: 600;
}

.financial-table tr:last-child td {
  border-bottom: none;
}

.financial-table tr:hover td {
  background: #a6a6a6;
}

.section-title {
  font-weight: 10000;
  margin-bottom: 5rem;
  border-bottom: #000000;
  border-width: 1px;
}

.info-grid, .data-grid {
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
  margin-bottom: 2rem;
}

.info-grid {
  grid-template-columns: repeat(2%, 2%);
}

.data-grid {
  grid-template-columns: repeat(auto-fit, minmax(5%, 30%));
}
