.tabs-container {
  overflow: hidden;
  background-color: #ffffff;
}

.tabs-nav {
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #e9ecef;
  font-family: 'Montserrat', sans-serif;
}

button {
  padding: 16px 44px 16px 10px;
  border: none;
  font-size: 18px;
  background: none;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  text-align: left;
}

button:hover {
  background-color: #f6f6f6;
}

button.active {
  color: #000000;
  position: relative;
}

button.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #000000;
}

.tabs-content {
  padding: 10px;
}