.search-container {
    margin: 2rem auto;
    padding: 0.9rem 2rem 0.9rem 2rem;
    max-width: 700px;
    background-color: #f4f4f4;
    color: rgb(0, 0, 0);
    border-radius: 1rem;
    /*box-shadow: 0 0 10px rgba(255,255,255,0.1);*/
    position: relative;
}

.search-input {
  width: 100%;
  padding: 0.75rem 0.5rem 0.75rem 0.5rem;
  border: none;
  border-radius: 8px;
  background-color: #f4f4f4;
  color: #000000;
  font-size: 1rem;
  outline: none;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 8px;
  margin-top: 0.25rem;
  list-style: none;
  padding: 0;
  max-height: 700px;
  overflow-y: auto;
  z-index: 10;
  max-height: 300px;         /* ✅ limit height */
  scrollbar-width: thin;     /* Firefox scrollbar */
  scrollbar-color: #6f6f6f #ffffff;
  /* ✅ custom scrollbar for Chrome / Edge */
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #666;
  }
}

.dropdown li {
  padding: 0.75rem 1rem;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.2s;
  text-align: left;
}

.dropdown li:hover {
  background-color: #bcbcbc;
}
.dropdown li.selected {
  background-color: #bcbcbc;
}
